
.icon-wikipedia:before { content: '\e801'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */